<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huan.HTed.cado.mapper.OrdersItemMapper">
    <resultMap id="BaseResultMap" type="com.huan.HTed.cado.dto.OrdersItem">
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="ae_model" property="aeModel" jdbcType="VARCHAR" />
        <result column="af_order_attribute" property="afOrderAttribute" jdbcType="VARCHAR" />
        <result column="ag_logistics_name" property="agLogisticsName" jdbcType="VARCHAR" />
        <result column="ah_logistics_no" property="ahLogisticsNo" jdbcType="VARCHAR" />
        <result column="ai_delivery_time" property="aiDeliveryTime" jdbcType="VARCHAR" />
        <result column="aj_bz" property="ajBz" jdbcType="VARCHAR" />
        <result column="ak_order_batch" property="akOrderBatch" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="DATE" />
    </resultMap>

	<update id="update" parameterType="map">  
        UPDATE cadoexcel_orders_item  
        <trim prefix="set" suffixOverrides=",">
		  <if test="ordersItem.orderNo!=null">order_no=#{ordersItem.orderNo},</if>
		  <if test="ordersItem.aeModel!=null">ae_model=#{ordersItem.aeModel},</if>
		  <if test="ordersItem.afOrderAttribute!=null">af_order_attribute=#{ordersItem.afOrderAttribute},</if>
		  <if test="ordersItem.agLogisticsName!=null">ag_logistics_name=#{ordersItem.agLogisticsName},</if>
		  <if test="ordersItem.ahLogisticsNo!=null">ah_logistics_no=#{ordersItem.ahLogisticsNo},</if>
		  <if test="ordersItem.aiDeliveryTime!=null">ai_delivery_time=#{ordersItem.aiDeliveryTime},</if>
		  <if test="ordersItem.ajBz!=null">aj_bz=#{ordersItem.ajBz},</if>
		  <if test="ordersItem.akOrderBatch!=null">ak_order_batch=#{ordersItem.akOrderBatch},</if>
		  <if test="ordersItem.updateTime!=null">update_time=#{ordersItem.updateTime},</if>
		 </trim>
         WHERE 
         	order_no = #{oriOrdersItem.orderNo} 
         	And update_time = #{oriOrdersItem.updateTime}     
	</update>  
</mapper>