<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huan.HTed.cado.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.huan.HTed.cado.dto.Orders" extends="com.huan.HTed.mapper.StdMapper.STD">
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="b_branch_name" property="bBranchName" jdbcType="VARCHAR" />
        <result column="c_merchant_name" property="cMerchantName" jdbcType="VARCHAR" />
        <result column="d_authorized_operator" property="dAuthorizedOperator" jdbcType="VARCHAR" />
        <result column="e_marketing_personnel_code" property="eMarketingPersonnelCode" jdbcType="VARCHAR" />
        <result column="f_recommended_personnel_code" property="fRecommendedPersonnelCode" jdbcType="VARCHAR" />
        <result column="g_customer_name" property="gCustomerName" jdbcType="VARCHAR" />
        <result column="h_card_last_four_number" property="hCardLastFourNumber" jdbcType="VARCHAR" />
        <result column="i_certificates_last_five_number" property="iCertificatesLastFiveNumber" jdbcType="VARCHAR" />
        <result column="j_contact_number" property="jContactNumber" jdbcType="VARCHAR" />
        <result column="k_telphone" property="kTelphone" jdbcType="VARCHAR" />
        <result column="l_delivery_address" property="lDeliveryAddress" jdbcType="VARCHAR" />
        <result column="m_zip_code" property="mZipCode" jdbcType="VARCHAR" />
        <result column="n_Invoice_header" property="nInvoiceHeader" jdbcType="VARCHAR" />
        <result column="o_commodity_number" property="oCommodityNumber" jdbcType="VARCHAR" />
        <result column="p_commodity_price" property="pCommodityPrice" jdbcType="VARCHAR" />
        <result column="q_application_number" property="qApplicationNumber" jdbcType="VARCHAR" />
        <result column="r_authorization_code" property="rAuthorizationCode" jdbcType="VARCHAR" />
        <result column="s_product_number" property="sProductNumber" jdbcType="VARCHAR" />
        <result column="t_customer_order_date" property="tCustomerOrderDate" jdbcType="VARCHAR" />
        <result column="u_actual_delivery_date" property="uActualDeliveryDate" jdbcType="VARCHAR" />
        <result column="v_courier_number" property="vCourierNumber" jdbcType="VARCHAR" />
        <result column="w_courier_services_company" property="wCourierServicesCompany" jdbcType="VARCHAR" />
        <result column="x_overdue_mark" property="xOverdueMark" jdbcType="VARCHAR" />
        <result column="y_delivery_file_category" property="yDeliveryFileCategory" jdbcType="VARCHAR" />
        <result column="z_card_product" property="zCardProduct" jdbcType="VARCHAR" />
        <result column="aa_name_of_agent" property="aaNameOfAgent" jdbcType="VARCHAR" />
        <result column="ab_telphone_of_agent" property="abTelphoneOfAgent" jdbcType="VARCHAR" />
        <result column="ac_order_status" property="acOrderStatus" jdbcType="VARCHAR" />
        <result column="ad_bz" property="adBz" jdbcType="VARCHAR" />
        <result column="al_bank_feedback_time" property="alBankFeedbackTime" jdbcType="VARCHAR" />
        <result column="am_bank_feedback_type" property="amBankFeedbackType" jdbcType="VARCHAR" />
        <result column="an_bank_feedback_instruction" property="anBankFeedbackInstruction" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="DATE" />
    </resultMap>

	<resultMap id="queryAllResultMap" type="com.huan.HTed.cado.dto.Orders" extends="BaseResultMap">
        <association property="ordersItem" javaType="com.huan.HTed.cado.dto.OrdersItem"
            resultMap="com.huan.HTed.cado.mapper.OrdersItemMapper.BaseResultMap"/>
    </resultMap>
    
	 
    <select id="queryAll" resultMap="queryAllResultMap" >
       SELECT 
       		a.order_no,b.ae_model,b.af_order_attribute,b.ag_logistics_name,b.ah_logistics_no,b.ai_delivery_time,b.aj_bz,b.ak_order_batch,b.update_time,
       		a.b_branch_name,a.c_merchant_name,a.d_authorized_operator,a.e_marketing_personnel_code,a.f_recommended_personnel_code,a.g_customer_name,
       		a.h_card_last_four_number,a.i_certificates_last_five_number,a.j_contact_number,a.k_telphone,a.l_delivery_address,a.m_zip_code,a.n_Invoice_header,
       		a.o_commodity_number,a.p_commodity_price,a.q_application_number,a.r_authorization_code,a.s_product_number,a.t_customer_order_date,
       		a.u_actual_delivery_date,a.v_courier_number,a.w_courier_services_company,a.x_overdue_mark,a.y_delivery_file_category,a.z_card_product,
       		a.aa_name_of_agent,a.ab_telphone_of_agent,a.ac_order_status,a.ad_bz,
       		a.al_bank_feedback_time,a.am_bank_feedback_type,a.an_bank_feedback_instruction
       FROM 
   			cadoexcel_orders a 
       		
       LEFT JOIN 
       		cadoexcel_orders_item b
	   ON 
        	b.order_no = a.order_no 
     </select>
</mapper>