<#include "../../include/header.html">
<body>
<script>
	var pid = '${RequestParameters.pid!0}';
	if (pid!=0) {
        $.ajax({
            url: '${base.contextPath}/product/query?pid='+pid,
            success: function (args) {
                var a0 = args.rows[0] || {};
                for (var k in a0) {
                      viewModel.model.set(k, a0[k]);
                }
            }
        });
    }
    
	
	var  viewModel = kendo.observable({
	    model: {
	    },
	    save:function(){
	    	var data= viewModel.model.toJSON();
	    	var price = $("#price").val();
	    	data.price =  price;
	    	if(data.pid){
        		data.__status = "update";
        	}else{
        		data.__status = "add";
        	}

	    	var validator = $("#mainform").kendoValidator().data("kendoValidator");
			if (validator.validate()) {
		    	$.ajax({
	                type   : 'POST',
	                url    : '${base.contextPath}/product/submit',
	                dataType : "json",
	                contentType : "application/json",
	                data   : kendo.stringify([data]),
	                success: function (data) {
	                	if(data.success==false){
	                		kendo.ui.showErrorDialog({
	                            message:data.message
	                        });
	                	}	
	                	else{
	                        window.parent.$("#dialog").data("kendoWindow").close();
	                    }
	                }
	            });
			}
	    },
	    reset:function(){
	    	 	var formData = viewModel.model.toJSON();
	            for (var k in formData) {
	                viewModel.model.set(k, null);
	            }
	    }
	});
	
</script>
<div class="container" style="margin-top: 20px;">
	<div id="page-content">
	<form id="mainform"  class="form-horizontal" method="post" enctype="application/json;charset=UTF-8">
	 	<div class="col-sm-12" style="float: left;margin-top: 0px;" style="width：100%">
    		<div class="form-group">
	            <label class="col-sm-2 control-label">名称:</label>
	            <div class="col-sm-6">
	                <input type="text" required style="width:100%" name="productName" data-bind="value:model.productName" class="k-textbox">
	            </div>
	            <div class="col-sm-4" >  
	                 <span data-for="productName" class=".k-invalid-msg"></span>
	            </div>
	        </div>
	       
    	</div>
  		<div class="col-sm-12" style="float: left;margin-top: 0px;">
    		<div class="form-group">
	            <label class="col-sm-2 control-label">价钱:</label>
	            <div class="col-sm-6">
	                <input type="number" required style="width:100%" name="price" data-bind="value:model.price" min="0" id="price" value="0">
	                <script>
	                $("#price").kendoNumericTextBox();
	                </script>
	            </div>
	            <div class="col-sm-4" >  
	                 <span data-for="price" class=".k-invalid-msg"></span>
	            </div>
	        </div>
	    </div>
		<div class="pull-right" style=" right: 85px; float: left; background: #fff;">
	    	<span class="btn btn-success" data-bind="click:save" type="submit">保存</span>
	    	<span class="btn btn-success" data-bind="click:reset" type="button">重置</span>
		</div>

	</form>
	</div>
</div>
<script>
	
	kendo.bind($('#page-content'), viewModel);
	
	
</script>



</body>