<#include "../../include/header.html">
<body>
	<script>
	var orderNo = ${RequestParameters.orderNo!0};
	var  viewModel = kendo.observable({
	    model: {
	    	orderNo:orderNo
	    },
	    saveFunction: function(){
	    	 $("#grid").data('kendoGrid').saveChanges();
        }
	});
	
	
	</script>
	
	<div id="page-content">
	    <div style="clear:both">
        	<div id="grid"></div>
   		</div>
	</div>

	<script>
	
	kendo.bind($('#page-content'), viewModel);


	dataSource = new kendo.data.DataSource(
                {
                    transport: {
                        read: {
                            url: '${base.contextPath}/orders/query',
                            type: "GET",
                            dataType: "json"
                        },
                        parameterMap: function (options, type) {
                        	if (type !== "read" && options.models) {
                                var datas = HTed.prepareSubmitParameter(options, type);
                                return kendo.stringify(datas);
                            } else if (type === "read") {
                                return HTed.prepareQueryParameter(viewModel.model.toJSON(), options);
                            }
                        }
                    },
                    batch: true,
                    serverPaging: true,
                    pageSize: 10,
                    schema: {
                        data: 'rows',
                        total: 'total',
                        model: {
                            id: "configId",
                            fields:{}
                        }
                    }
});

var grid = $("#grid").kendoGrid({
    dataSource: dataSource,
    navigatable: false,
    resizable: true,
    scrollable: true,
    editable: false,
    rownumber: false,
    columnMenu:true,
    columns: [
        {field: "orderNo", title: '订单编号', width: 100},
        {field: "bBranchName", title: '分行名称', width: 80,hidden:true},
        {field: "cMerchantName", title: '商户名称', width: 80,hidden:true},
        {field: "dAuthorizedOperator", title: '授权操作员', width: 80,hidden:true},
        {field: "eMarketingPersonnelCode", title: '营销人员代码', width: 80,hidden:true},
        {field: "fRecommendedPersonnelCode", title: '推荐人员代码', width: 80,hidden:true},
        {field: "gCustomerName", title: '客户姓名', width: 50},
        {field: "hCardLastFourNumber", title: '卡号末四位', width: 80,hidden:true},
        {field: "iCertificatesLastFiveNumber", title: '证件号后五位', width: 80,hidden:true},
        {field: "jContactNumber", title: '联系电话', width: 80,hidden:true},
        {field: "kTelphone", title: '手机', width: 80},
        {field: "lDeliveryAddress", title: '送货地址', width: 80},
        {field: "mZipCode", title: '邮编', width: 80,hidden:true},
        {field: "nInvoiceHeader", title: '发票抬头', width: 80,hidden:true},
        {field: "oCommodityNumber", title: '商品编号', width: 80,hidden:true},
        {field: "pCommodityPrice", title: '商品价格(元)', width: 80,hidden:true},
        {field: "qApplicationNumber", title: '申请编号', width: 80,hidden:true},
        {field: "rAuthorizationCode", title: '授权码', width: 80,hidden:true},
        {field: "sProductNumber", title: '产品编号', width: 80,hidden:true},
        {field: "tCustomerOrderDate", title: '客户订单日期', width: 80,hidden:true},
        {field: "uActualDeliveryDate", title: '实际送货日期', width: 80,hidden:true},
        {field: "vCourierNumber", title: '快递单号', width: 80,hidden:true},
        {field: "wCourierServicesCompany", title: '快递公司', width: 80,hidden:true},
        {field: "xOverdueMark", title: '逾期标识', width: 80,hidden:true},
        {field: "yDeliveryFileCategory", title: '送货文件类别', width: 80,hidden:true},
        {field: "zCardProduct", title: '账户已激活卡片被保护', width: 80,hidden:true},
        {field: "aANameOfAgent", title: '代领人姓名', width: 80,hidden:true},
        {field: "aBTelphoneOfAgent", title: '代领人电话', width: 80,hidden:true},
        {field: "acOrderStatus", title: '订单状态', width: 80,hidden:true},
        {field: "adBz", title: '备注', width: 80,hidden:true},
        {field: "alBankFeedbackTime", title: '银行反馈时间', width: 80},
        {field: "amBankFeedbackType", title: '银行反馈分类', width: 50},
        {field: "anBankFeedbackInstruction", title: '银行反馈说明', width: 180},
    ]
}).data("kendoGrid");

HTed.autoResizeGrid("#grid"); 
</script>

</body>